// 通过$符号去声明一个变量
$active-background-color: #EEF5FE;
$default-background-color: #449EFF;
$system-background-color: #282b5e;
$system-collapse-color: #f9f9f9;
$system-border-color: #e6e6e6;
$system-is-select-color: #e8bf6a;
$default-border-color: #449EFF;
$black-color: #000000;
$purple-color: #449EFF;
$white-color: #FFFFFF;
$border-color: #A6A7AC;

// 继承 ---
%border-common {
  border: 1px solid $black-color;
}

@mixin border-base($color) {
  border: 1px solid $color;
}

// 混合 ----
@mixin border-radius-base($radius) {
  border-radius: $radius;
  -ms-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

.border-radius-common {
  @include border-radius-base(10px);
}

.height-full {
  height: 100%;
  box-sizing: border-box;
}

.mg-l10 {
  margin-left: 10px;
}

.mg-r10 {
  margin-right: 10px;
}

.mg-l10-r10 {
  margin-left: 10px;
  margin-right: 10px;
}

.mg-10 {
  margin: 10px;
}

.pd-l10 {
  padding-left: 10px;
}

.pd-r10 {
  padding-right: 10px;
}

.pd-l10-r10 {
  padding-left: 10px;
  padding-right: 10px;
}

.pd-10 {
  padding: 10px;
}

// 操作符 ----
article[role="main"] {
  float: left;
  width: 600px / 960px * 100%;
}

%vertical-center-base {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-center {
  @extend %vertical-center-base
}

.is-selected-color {
  background-color: $system-is-select-color;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.custom-ul {
  width: 100%;
  padding: 5px;
  margin: 0 !important;
  box-sizing: border-box;
}

.custom-ul li {
  margin-bottom: 10px;
  padding: 5px 10px;
  list-style: none;
  text-align: left;
  box-sizing: border-box;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.custom-li-title {
  color: #000;
  cursor: pointer;
  font-size: 14px;
}

.custom-li-label {
  cursor: pointer;
  font-size: 12px;
  color: $border-color;
}

.active {
  //color: $default-background-color;
  background-color: $active-background-color;
}

.label {
  padding: 0 10px;
}

.el-table__body-wrapper {
  &::-webkit-scrollbar { /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  &::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 10px;
    background: $border-color;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 10px;
    background: $white-color;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}

.custom-scrollbar {
  &::-webkit-scrollbar { /*滚动条整体样式*/
    width: 8px; /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }

  &::-webkit-scrollbar-thumb { /*滚动条里面小方块*/
    border-radius: 10px;
    background: $border-color;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }

  &::-webkit-scrollbar-track { /*滚动条里面轨道*/
    border-radius: 10px;
    background: $white-color;
    -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  }
}
